
@media (max-width:600px) {
  .App {
    display: grid;
    grid-template: auto 1fr / repeat(4, 1fr);
    gap: 1em;
    background-color: inherit;
    color: background-color;
    padding: 16px;
    
  }

  .inventory {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .dTable {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1 ;
  }
  
}

@media (600px < width <900px) {
  .App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1em;
    justify-items: stretch;
  }
}

@media (min-width:900px) {
  .App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    gap: 1em;
    justify-items: stretch;
  }

  .inventory {
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
    width: 100%;
    justify-items: stretch;
  }

  .dTable {
    grid-column: 3 / span 8;
    grid-row: 4 / span 8;
    justify-items: stretch;
    overflow: hidden;
  }


}
